.cart {
    padding: 2rem;
    .cartDetails {
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;

            th, td {
                background-color: rgb(222, 215, 215);
                border: 1px solid black;
                padding: .8rem;
                text-align: left;
            }
            .items {
                margin-left: .5rem;
                button {
                    border-radius: 1px;
                    background: #EDEEF0;
                    border: none;
                    padding: .5rem;
                }
                span {
                    margin: 0 .5rem
                }
            }
            
        }
        .clear {
            background-color: #fff;
            color: blue;
            border: 1px solid blue;
            padding: .8rem 1.1rem
        }
    }
}