.products {
    padding: 1rem;
    img {
        width: 100%;
    }
    .product-title {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
        h1 {
            font-size: 22px;
        }
        a {
            color: #0156FF;
            font-size: 13px;
        }
        .link-laptop {
            a {
                color: #838383;
                text-decoration: none;
                margin-right: .5rem;
            }
            &:hover {
                color: hsl(0, 0%, 0%);
                text-decoration: underline;
            }
        }
    }
    .product-block {
        display: flex;
        margin-top: 1rem;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 1rem;
        
        .product-badge {
            background-color: #fff;
            border: 1px solid gray;
            padding: 1.5rem;
            
            width: 250px;
            .product-link {
                color: #000;
                text-decoration: none;
            }
            img {
                width: 200px;
                height: 200px;
                margin: 1rem 0;
                border: 1px solid;
            }
            .small {
                font-weight: 500;
                font-size: 11px;
                // margin: 0;
            }
            .stock {
                color: #78A962;
                font-size: 11px;
                margin-left: .5rem;
            }
            .review {
                color: #A2A6B0;
                font-size: 12px;
                .star {
                    color: #E9A426
                }
                span {
                    margin-left: .5rem;
                }
            }
            .strike {
                color: #666;
                font-size: 12px;
                text-decoration-line: line-through;
            }
            p {
                padding: .3rem 0;
            }
            .details {
                font-size: 13px;
            }
        
        }
        .back-tag {
            background-image: url('../../images/backdrop.png');
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 200px;
            color: #fff;
            text-align: center;
            h2 {
                font-size: 22px;
            }
            a {
                color: #fff;
                font-size: 12px;
                margin-top: 3rem;
            }
        }
        @media screen and (max-width: 700px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}